<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="../static/images/favicon.ico">
	<title>WEBSITE</title>
	
	<link rel="stylesheet" type="text/css" href="../static/lib/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/common.css" />
</head>

<body>

    <!-- navbar -->
    {% include 'partials/navbar.html' %}

    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <a href='/route'>Example of link (with level of access)...</a>
            </div>
        </div>
    </div>

    <script src="../static/lib/js/jquery-3.3.1.min.js"></script>
    <script src="../static/lib/js/popper.min.js"></script>
    <script src="../static/lib/js/bootstrap.min.js"></script>        
</body>



